*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}


/* utilities */

.container{
    padding:0 136px;
}
.flex{
    display: flex;
    align-items: center;
}
.navbar{
    justify-content: space-between;
}
.hero{
    margin-top:2rem;
    gap:3%;
}
.hero-img{
    width:40%;
    margin-left:5%;
}
.hero-image{
    width:90%;
}
.hero-text{
    flex-direction: column;
    align-items: flex-start;
}
.hero-text-text{
    margin: 7% 0;
}
.hero-text-text h1{
    font-size:72px;
    font-weight: 500;
    color:#000000;
}
.hero-text-text p{
    font-size:12px;
    font-weight: 500;
    color:#000000;
    margin-top:.5rem;
}
.hero-text .first-btn{
    width:fit-content;
    padding:8px 20px;
    background-color: #149F39;
}
.hero-text .first-btn p{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;

}
.second-btn button{
    padding:10px 30px 10px 30px;
    background-color: #FFC066;
    border:none;
    color:#FFFFFF;
}
.three{
    margin-top:4rem;
    margin-bottom:4rem;
    width:65vw;
    margin-left: auto;
    margin-right:auto;
    padding:.5rem;
    gap:3%;
}
.p1{
    font-size:18px;
    font-weight: 600;
    color: #000000;
}
.p2{
    font-size: 14px;
    font-weight: 300;
}
.first-text{
    margin-left:3%;
}
.our-menu{
    padding:8px 20px;
    background-color:#149F39;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.5rem;
}
.explore-menu{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.our-menu span{
    font-size:24px;
    font-weight: 400;
    color:#FFFFFF;
}
.explore-menu span{
    font-size:36px;
    font-weight: 400;
    color:#000000;
}
.grid-layout{
    margin-top:2rem;
    display: grid;
    grid-row-gap: 15px;
    justify-content: center;
    grid-template-areas: 
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7"
    ;
}
.one{
    grid-area: I1;
    width:95%;
}
.two{
    grid-area: I2;
    width:95%;
}
.thre{
    grid-area: I3;
    width:95%;
}
.four{
    grid-area: I4;
    width:95%;
}
.five{
    grid-area: I5;
    width:95%;
}
.six{
    grid-area: I6;
    width:95%;
}
.seven{
    grid-area: I7;
    width:95%;
}
.one img{
    width:100%;
}
.two img{
    width:95%;
}
.thre img{
    width:95%;
}
.four img{
    width:95%;
}
.five img{
    width:95%;
}
.six img{
    width:95%;
}
.seven img{
    width:95%;
}

